@import "../../css/responsive-breakpoints.scss";
@import "../../css/variables.scss";

.title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.container {
  max-width: 400px;
  margin: auto;
}

.pad-top {
  padding-top: 20%;

  @include mobile-only {
    padding-top: 10%;
  }
}

.todo-list-container {
  min-height: 380px;
}

.nothing-found-container {
  display: flex;
  min-height: 380px;
}

.spinner-container {
  display: flex;
  min-height: 380px;
}

.todo-list-controls {
  display: flex;
  align-items: center;
  margin: 5px;
}

.search-controls {
  display: flex;
  flex-direction: row;
}

.search-field {
  width: 80%;
  margin-right: 10px;
}

.reset-button {
  color: #444;

  :disabled {
    color: #bbb;
  }
}

.not-found-icon {
  font-size: 150px;
  width: 100%;
  text-align: center;
}

.spinner {
  margin: auto;
}

mat-paginator {
  background: transparent;
  position: relative;
}

// CSS FOR SKELETON LAYOUT LIST
.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid $borders-dividers;
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  background: white;
  height: 40px;
}

.todo-actions-container {
  min-width: 30%;
  @include xs-screen {
    min-width: 35%;
  }
}

.todo-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  ngx-skeleton-loader {
    height: 50px;
  }
}

.todo-checkbox-edit {
  display: flex;
  min-width: 10%;
}

.todo-input-container {
  min-width: 55%;
  margin-right: 5%;
  @include xs-screen {
    min-width: 50%;
  }
}

.todo-input {
  display: flex;
  width: 100%;
}
