<div class="container">
  <div class="pad-top">
    <h1 class="title">TO-DO LIST</h1>
    <div class="todo-list-controls">
      <mat-form-field class="search-field" appearance="outline">
        <input #search matInput type="text" placeholder="Search by title" [ngModel]="searchText$ | async"
          (ngModelChange)="searchTextChanged($event)" />

        <div class="search-controls">
          <button mat-button matSuffix mat-icon-button [disabled]="!search.value" class="reset-button"
            (click)="resetSearch()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </mat-form-field>
      <button mat-fab (click)="addTodoItem()" color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <ng-container *ngIf="!(isLoading$ | async); else elseTemplate">
    <div *ngIf="pagedTodoList.length" class="todo-list-container">
      <app-todo-item *ngFor="let item of pagedTodoList.pageData; trackBy: trackByItems" [item]="item"
        (delete)="delete(item)" (completeEdit)="completeEdit(item)" (cancelEdit)="cancelEdit(item)"></app-todo-item>
    </div>
    <div *ngIf="!pagedTodoList.length" class="nothing-found-container">
      <div class="container">
        <mat-icon class="not-found-icon" aria-hidden="false">search_off</mat-icon>
        <p class="title">Nothing Found!</p>
      </div>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="todo-list-container">
      <div class="todo-item" *ngFor="let item of generateFakeItems(6)">
        <ngx-skeleton-loader class="todo-checkbox-edit" appearance="circle"
          [theme]="{ 'border-radius': '0px', width: '16px', height: '16px', margin: 'auto'}">
        </ngx-skeleton-loader>
        <div class="todo-input-container">
          <ngx-skeleton-loader class="todo-input" [theme]="{ margin: 'auto', height: '19px'}"></ngx-skeleton-loader>
        </div>
        <div class="todo-actions-container">
          <div class="todo-actions">
            <ngx-skeleton-loader appearance="circle"></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance="circle"></ngx-skeleton-loader>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <mat-paginator *ngIf="pagedTodoList.pageData" #paginator [length]="pagedTodoList.length"
    [pageSize]="pagedTodoList.pageSize" [pageIndex]="pagedTodoList.currentPage" (page)="pageChanged($event)"
    showFirstLastButtons="true">
  </mat-paginator>
</div>
