<div class="skeleton-item">
  <ngx-skeleton-loader class="todo-checkbox-edit" appearance="circle"
    [theme]="{ 'border-radius': '0px', width: '16px', height: '16px', margin: 'auto'}">
  </ngx-skeleton-loader>
  <div class="todo-input-container">
    <ngx-skeleton-loader class="todo-input" [theme]="{ margin: 'auto', height: '19px'}"></ngx-skeleton-loader>
  </div>
  <div class="todo-actions-container">
    <div class="todo-actions">
      <ngx-skeleton-loader appearance="circle"></ngx-skeleton-loader>
      <ngx-skeleton-loader appearance="circle"></ngx-skeleton-loader>
    </div>
  </div>
</div>
